@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "nouislider/dist/nouislider.min.css";
@import "./styles/inputDuration";

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: $blue;
}
#mediaPlayer {
  max-width: 20rem;
}
